@import "fonts";
@import "variables";
@import "generations";

* {
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: #fff;
  color: #262626;
  width: 100%;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

[role="tooltip"] {
  z-index: 9999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

// Main Container ----- //

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Flex Helpers ----- //

.d-flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Colors ----- //

.c-primary {
  color: #325ecd !important;
  font-weight: 600 !important;
}

.c-secondary {
  color: #8cc152 !important;
  font-weight: 600 !important;
}

.c-danger {
  color: #e9573f !important;
  font-weight: 600 !important;
}

.c-black {
  color: black !important;
  font-weight: 600 !important;
}

// full width ----- //

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

// Text align ----- //

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//.main-content {
//  width: 100%;
//  height: calc(100vh - 216px);
//  display: flex;
//  align-items: center;
//}

//----------- Ant Pagination -------------- //

//.dsp-none {
//  display: none !important;
//}

//.ant-pagination {
//  display: flex;
//  align-items: center;
//
//  .ant-pagination-item-active {
//    a {
//      color: #777b82 !important;
//    }
//  }
//
//  .ant-pagination-item {
//    width: 50px;
//    height: 40px;
//    line-height: 38px;
//    border-radius: 8px;
//    font-size: 17px;
//    font-weight: 500;
//    border: 1px solid #b6bccd;
//
//    a {
//      color: $primary;
//    }
//  }
//
//  .ant-pagination-prev,
//  .ant-pagination-next {
//    height: 40px;
//    line-height: 40px;
//    border-radius: 8px;
//    border: 1px solid #cdd1dd;
//    width: fit-content;
//    padding: 0 15px;
//    background: transparent;
//
//    a {
//      color: $primary;
//      font-weight: 500;
//      font-size: 17px;
//    }
//
//    &.ant-pagination-disabled {
//      background: #f6f6f7;
//
//      a {
//        color: #85898f;
//      }
//    }
//  }
//
//  .ant-pagination-next {
//    display: flex;
//    align-items: center;
//    padding-right: 5px;
//
//    &.ant-pagination-disabled {
//      &:after {
//        transform: rotate(180deg);
//        background: url("../../assets/images/svg/disable-chevron.svg") no-repeat
//          center center;
//        background-size: contain !important;
//      }
//    }
//
//    &:after {
//      content: "";
//      display: block;
//      width: 22px;
//      height: 22px;
//      background: url("../../assets/images/svg/enable-chevron.svg") no-repeat
//        center center;
//      background-size: contain !important;
//      margin-left: 2px;
//    }
//  }
//
//  .ant-pagination-prev {
//    display: flex;
//    align-items: center;
//    padding-left: 5px;
//
//    &.ant-pagination-disabled {
//      &:before {
//        transform: rotate(0deg);
//        background: url("../../assets/images/svg/disable-chevron.svg") no-repeat
//          center center;
//        background-size: contain !important;
//      }
//    }
//
//    &:before {
//      content: "";
//      display: block;
//      width: 22px;
//      height: 22px;
//      margin-left: 2px;
//      background: url("../../assets/images/svg/enable-chevron.svg") no-repeat
//        center center;
//      transform: rotate(180deg);
//      background-size: contain !important;
//    }
//  }
//
//  .custom-ant-next {
//    color: red;
//  }
//}

.c-pointer {
  cursor: pointer;
}

//.ant-table-content {
//  border-top-left-radius: 10px;
//  border-top-right-radius: 10px;
//  overflow: hidden;
//}

//.ant-table-tbody > tr > td {
//  line-height: 25px !important;
//  //font-size: 16px;
//}

//======== Nprogress Settings ========== //
#nprogress .bar {
  top: 100px;
}

//============ Antd Modal Style ========== //

.ant-modal-content {
  box-shadow: 0px 20px 20px rgba(21, 37, 126, 0.22);
  border-radius: 10px;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f6f6f7;
  cursor: pointer;
}

.p-relative {
  position: relative !important;
}

//.tr-red {
//  transition: all 0.3s ease;
//  position: relative;
//  z-index: 10;
//
//  &:hover {
//    background: #fed5cf !important;
//  }
//}
//
//.tr-green {
//  transition: all 0.3s ease;
//  position: relative;
//  z-index: 10;
//
//  &:hover {
//    background: #e3f8cd !important;
//  }
//}

//.ant-table-tbody > tr.ant-table-row:hover > td{
//  background: transparent !important;
//}

iframe {
  display: none !important;
}

//.ant-pagination-mini .ant-pagination-item,
//.ant-pagination-mini .ant-pagination-prev,
//.ant-pagination-mini .ant-pagination-next {
//  height: 40px !important;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.ant-pagination-mini {
//  li:first-child {
//    margin-right: 10px !important;
//  }
//
//  li:last-child {
//    margin-left: 10px !important;
//  }
//}

//.table-head-center {
//  table {
//    thead {
//      tr {
//        th {
//          text-align: center !important;
//        }
//      }
//    }
//  }
//}
